body{
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif  !important;
}
.nav-pc {
    background-image: url("../img/Untitled.png");
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
}

header{
    text-align:center
}
img.logo{
    position: absolute;
    border-radius: 50%;
    left: 3%;
    top: 3%;
}
img.logo-2{
    position: absolute;
    border-radius: 50%;
    right: 3%;
    top: 3%;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 1.7rem;
    padding: 0 10px;
    border-left: 1px solid gray;
    font-weight: bold;
}

body {
    max-width: 100%;
}

.carousel-caption {
    bottom: 820px;
    animation: chuyendong1 4s infinite;
}

.carousel-caption h1 {
    font-size: 2rem;
}

.carousel-caption p {
    font-size: 0.8rem;
}
.owl-carousel .item {
    border: 1px solid gray;
}
.img-fluid{
    background-image: url('../img/header2222.jpg');
    background-size: cover;
}
/* .owl-carousel .item {
    animation: chuyendong 10s infinite;
} */
@keyframes chuyendong {

    0% {
        transform: translateX(-374px);
    }
    /* 20%{
        transform: translateX(-3000px);
    }
    40%{
        transform: translateX(-374px);
    }
     60%{
        transform: translateX(-1496px);
    }
    80%{
        transform: translateX(-1870px);
    } */
    100%{
        transform: translateX(-5000px);
    }
}

.row .col-8 {
    padding-top: 150px;
}

.row .col-8 h1 {
    text-align: center;
    font-size: 4rem;
    color: #ea1a07;
    padding-bottom: 20px;
    position: relative;
}
.row .col-8 h1::after{
    content: "";
    position: absolute;
    height: 2px;    
    width: 200px;
    background: #ea1a07;
    bottom: 0;
    left: 42%;
    
}
.row .col-8 h6 {
    text-align: center;
    font-size: 1.6rem;
    padding: 20px 40px;
}

.row .col-8 button {
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    margin-top: 60px;
}

.row {
    padding: 0 25px;
}

.hotline-phone-ring-wrap {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 999999;
}

.hotline-phone-ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    left: 0;
    bottom: 0;
    display: block;
}

.hotline-phone-ring-circle {
    width: 85px;
    height: 85px;
    top: 10px;
    left: 10px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #e60808;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.5;
}

.hotline-phone-ring-circle-fill {
    width: 55px;
    height: 55px;
    top: 25px;
    left: 25px;
    position: absolute;
    background-color: rgba(230, 8, 8, 0.7);
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.hotline-phone-ring-img-circle {
    background-color: #e60808;
    width: 33px;
    height: 33px;
    top: 37px;
    left: 37px;
    position: absolute;
    background-size: 20px;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotline-phone-ring-img-circle .pps-btn-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.hotline-phone-ring-img-circle .pps-btn-img img {
    width: 20px;
    height: 20px;
}

.hotline-bar {
    position: absolute;
    background: rgba(230, 8, 8, 0.75);
    height: 40px;
    width: 180px;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    background-size: 100%;
    cursor: pointer;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    z-index: 9;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px !important;
    /* width: 175px !important; */
    left: 33px;
    bottom: 37px;
}

.hotline-bar>a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-indent: 50px;
    display: block;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: Arial;
}

.hotline-bar>a:hover,
.hotline-bar>a:active {
    color: #fff;
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.5) skew(1deg);
        -webkit-opacity: 0.1;
    }

    30% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        -webkit-opacity: 0.5;
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: 0.1;
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.6;
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.6;
    }

    100% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.6;
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

@media (max-width: 768px) {
    .hotline-bar {
        display: none;
    }
}

.navbar {
    overflow: hidden;
    z-index: 99;
}

.navbar li {
    text-align: center;
    padding: 0 14px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.most-special{
    position: relative;
}
.most-special .bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter:brightness(50%);
    width: 100%;
    height: 90%;
}
.most-special>div{
    border: 6px solid white;
    background: white;
    padding-bottom: 200px;
}
.most-special h1{
    text-align: center;
    padding: 30px 0;
    color: yellow;
    font-size: 4rem;
}
.most-special .row .col{
    z-index: 1;
    padding: 30px 0;
    background: white;
}
.most-special .row{
    padding: 0 200px;
}
.most-special .row img{
    display: block;
    margin: 0 auto;
    transition: scale 2s;
} 
.most-special .row h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}
.event h1{
    text-align: center;
    padding: 20px 0;
    color: #ea1a07;
    font-size: 4rem;
    position: relative;
}
.event h1::after{
    content: "";
    position: absolute;
    height: 3px;    
    width: 200px;
    background: #ea1a07;
    bottom: 0;
    left: 45%;
}
.event .row{
    padding-top: 50px;
}
.event .row img{
    display: block;
    margin: 0 auto;
} 
.event .row h2{
    text-align: center;
    padding: 30px 20px;
}
.event .btn{
    padding: 20px 40px;
    display: block;
    margin: 30px auto;
}
.footer{
    margin-top: 50px;
    background: #2b2b2b;
    padding-bottom: 200px;
}
.footer .row .col-md-4{
    display: block;
    margin: auto 0;
}
.footer h1, .footer span{
    color: white;
}
.footer h1{
    padding-top: 40px;
    text-align: center;
}
.footer .information{
    padding: 40px 0;
    padding-left: 85px;
    font-size: 1.3rem;
}
@keyframes chuyendong1 {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(5, 5);
    }
}
@keyframes chuyendong2 {
    0%{
        transform: scale(1.5,1.5);
    }
    100%{
        transform: scale(1,1);
    }
}
.carousel-inner img{
    animation: chuyendong2 4s infinite;
}
.hotline-phone-ring-wrap{
    position: fixed;
    left: 5%;
    top: 90%;
}
.detail {
    padding-bottom: 80px;
}
.most-special .row img:hover, .event .row img:hover{
    transform: scale(1.1);
}
.owl-carousel{
    width: 100%;
}
.mobile{
    display: none;
}
.v-youtube{
    padding: 0 20px;
}
.fb_iframe_widget_fluid span{
    padding-left: 85px !important;
}
@media only screen and (max-width: 1280px){
    .navbar-light .navbar-nav .nav-link{
        padding: 0 5px;
    }
    .navbar{
        height: 46px;
    }
    .row .col-8{
        padding-left: 200px;
        padding-top: 0;
    }
    .most-special .row{
        padding: 0;
    }
    .most-special .row h2 {
        margin-bottom: 0;
    }
    .footer .col-md-4 iframe{
        width: 322px;
        height: 303px;
    }
    .footer .information {
        padding-left: 37px;
    }
    .most-special img.bg {
        height: 0;
    }
    .fb_iframe_widget span {
        padding-left: 39px !important;
    }
}
@media only screen and (max-width: 1024px){
    .hotline-phone-ring{
        bottom: 45px;
    }
    .navbar-light .navbar-nav .nav-link{
        padding: 0;
        padding: 0;
        font-size: 1.1rem;
    }
    .detail{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .row .col-8{
        padding-left: 0;
        padding-top: 20px;
        width: 100%;
    }
    .row .col-8 h6{
        padding: 0;
    }
    .most-special .row .col{
        padding: 20px;
    }
    .most-special .row img{
        width: 400px;
        height: 300px;
    }
    .footer .col-md-4 iframe{
        width: 304px;
        height: 410px;
        padding-top: 55px;
    
    }
    .footer .information{
        padding-left: 0;
    }
    .detail .col-4 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 912px){
    .detail .row .col-8{
        padding: 0 20px;
    }
    .detail{
        padding-bottom: 0;
    }
    .most-special>div{
        padding-bottom: 0;
    }
    .row .col-8 h1::after{
        left: 38%;
    }
    .event h1::after{
        left: 39%;
    }
    .footer .col-md-4 iframe {
        width: 268px;
        height: 349px;
    }
    .hotline-phone-ring-wrap {
        position: fixed;
        left: 2%;
        top: 74%;
    }
    .hotline-phone-ring {
        bottom: -251px;
    }
}
@media only screen and (max-width: 820px){
    .footer{
        padding: 0;
    }
    .navbar-light .navbar-nav .nav-link{
        font-size: 1rem;
    }
    .navbar {
        height: 38px;
    }
    .most-special .row h2{
        padding-bottom: 0;
    }
    iframe.v-youtube {
        height: 441px;
    }
    .footer .col-md-4 iframe {
        width: 241px;
        height: 348px;
    }
    .hotline-phone-ring{
        bottom: -203px;
    }
}
@media only screen and (max-width: 768px){
    .hotline-phone-ring {
        bottom: -145px;
    }
    .mobile{
        display: block;
    }
    .nav-pc{
        display: none;
    }
    .owl-carousel{
        display: none !important;
    }
    .detail .col-4{
        padding: 20px;
    }
    .v-youtube {
        height: 410px;
    }
    .footer .col-md-4 iframe {
        width: 223px;
        height: 238px;
    }
    .footer .col-md-4 iframe{
        padding-top: 0;
    }
    .navbar-dark .navbar-toggler {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 540px){
    .navbar-dark .navbar-toggler{
        font-size: 1rem;
    }
    .row .col-8 h1::after{
        left: 30%;
    }
    .detail{
        padding-bottom: 0;
    }
    .most-special h1{
        font-size: 2rem;
    }
    .most-special>div{
        padding-bottom: 0;
    }
    .v-youtube {
        height: 290px;
    }
    .event h1::after{
        left: 32%;
    }
    .most-special .row img {
        width: 490px;
        height: 381px;
    }
    .fb_iframe_widget span{
        padding-left: 0 !important;
    }
    .footer .col-md-4 iframe {
        padding-top: 0;
        float: right;
        margin-top: -230px;
        height: 156px;
        width: 200px;
    }
    .hotline-phone-ring{
        bottom: -92px;
    }
}
@media only screen and (max-width: 414px){
    .most-special .row img {
        width: 376px;
        height: 328px;
    }
    .event .row img {
        width: 367px;
        height: 328px;
    }
    iframe.v-youtube {
        height: 211px;
    }
    .row .col-8 h1::after {
        left: 22%;
    }
    .event h1::after {
        left: 26%;
    }
    .footer .col-md-4 iframe {
        float: right;
        margin-top: -231px;
        height: 158px;
        width: 134px;
    }
    .footer{
        padding: 0;
    }
    .hotline-phone-ring {
        bottom: -125px;
    }
    img.rounded.float-start {
        width: 100%;
        height: 465px;
    }
    .navbar-dark .navbar-toggler {
        font-size: 0.8rem;
    }
    .fb_iframe_widget iframe {
        width: 130px !important;
    }
    
}
@media only screen and (max-width: 412px){
    .navbar-dark .navbar-toggler {
        font-size: 0.8rem;
    }
    .detail{
        align-items: center;
        padding: 30px 0;
    }
    img.rounded.float-start {
        padding: 0 20px;
        height: 500px;
    }
    .detail .col-4{
        width: unset;
    }
    .footer .col-md-4 iframe {
        width: 217px;
        height: 309px;
    }
    .row .col-8 h1{
        font-size: 2rem;
    }
    .row .col-8 h1::after{
        left: 24%;
    }
    .most-special h1{
        padding: 0;
    }
    .row .col-8 h6{
        font-size: 1rem;
    }
    .row .col-8 button{
        font-size: 1rem;
        margin-top: 0;
    }
    .most-special .row img{
        width: 360px;
        height: 250px;
    }
    .most-special .row h2{
        padding-bottom: 0;
        font-size: 1rem;
    }
    .most-special>div{
        padding-bottom: 0;
    }
    .event h1{
        font-size: 2rem;
        
    }
    .event h1::after{
        left: 25%;
    }
    .event .row img{
        width: 362px;
        height: 241px;
    }
    .event .row h2 {
        padding: 10px;
        font-size: 1rem;
    }
    .event .btn {
        padding: 5px 10px;
        margin: 0 auto;
    }
    .footer .information {
        font-size: 1rem;
        text-align: center;
    }
    .footer .col-md-8 iframe{
        width: 300px;
    }
    .row .col-8{
        padding: 0 20px;
    }
    .most-special h1 {
        font-size: 2rem;
    }
    .fb_iframe_widget span{
        width: 100% !important;
        height: 50px !important;      
    }
    .footer .col-md-4 iframe{
        float: right;
        padding-top: 0;
        padding-bottom: 136px;
        margin-top: -50px;
    }
    html#facebook {
        width: 50% !important;
    }
    iframe.v-youtube {
        height: 209px;
    }
    .row .col-8 {
        padding: 0 42px;
    }
    .footer .col-md-4 iframe {
        width: 144px;
        height: 290px;
    }
}
@media only screen and (max-width: 393px){
    .most-special .row img {
        width: 355px;
    }
    .event .row img {
        width: 347px;
    }
    .footer .col-md-4 iframe {
        width: 140px;
        height: 290px;
    }
    
}
@media only screen and (max-width: 390px){
    .footer{
        padding: 0;
    }
    .footer .col-md-4 iframe {
        width: 143px;
        height: 295px;
    }
    .most-special .row img {
        width: 352px;
        height: 250px;
    }
    .event .row img {
        width: 348px;
        height: 241px;
    }
    .hotline-phone-ring {
        bottom: -103px;
    }
}
@media only screen and (max-width: 375px){
    .event .row img {
        width: 330px;
        height: 241px;
    }
    .most-special .row img {
        width: 332px;
        height: 250px;
    }
    .footer .col-md-4 iframe {
        width: 155px;
        height: 292px;
    }
    .fb_iframe_widget iframe {
        width: 153px !important;
    }
    .hotline-phone-ring {
        bottom: -71px;
    }
    .footer {
        padding-bottom: 0;
    }
}
@media only screen and (max-width: 360px){
    .most-special .row img {
        width: 330px;
    }
    .event .row img {
        width: 315px;
    }
    .footer .col-md-4 iframe {
        width: 151px;
        height: 291px;
    }
    .hotline-phone-ring {
        bottom: -86px;
    }
}
@media only screen and (max-width: 280px){
    .text-white{
        font-size: 1rem;
    }
    .navbar-dark .navbar-toggler{
        font-size: 1rem;
    }
    img.rounded.float-start{
        height: 430px;
    }
    .most-special h1{
        padding: 0;
    }
    .most-special .row img {
        width: 245px;
        height: 195px;
    }
    .v-youtube{
        height: 140px;
    }
    .event h1::after{
        width: 147px;
        padding: 0;
    }
    .event .row img {
        width: 234px;
        height: 194px;
    }
    .footer .information{
        padding: 0;
    }
    .footer .col-md-4 iframe {
        float: right;
        padding-top: 90px;
        padding-bottom: 55px;
    }
    .most-special h1 {
        font-size: 1.5rem;
    }
    .footer .col-md-8 iframe{
        margin-left: 46px !important;
    }
    .hotline-phone-ring{
        left: -22px;
        bottom: -60px;
    }
    .footer .col-md-4 iframe {
        padding-top: 20px;
        margin-right: 35px;
        float: right;
        padding-top: 90px;
        padding-bottom: 55px;
        width: 150px;
        height: 292px;
    }
    .fb_iframe_widget span {
     height: 130px !important; 
    }
}
/* 
.event .bg-1{
    position: absolute;
    padding-bottom: 20px;
    margin-bottom: -50px;
    z-index: -100;
}
.event{
    position: relative;
    padding-bottom: 20px;
    margin-bottom: -50px;
}
.event .col{
    background: white;
} */